.tarjeta {
  border: 2px solid #112f45;
  border-radius: 7px;
  box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.75);
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 15em;
  width: 15em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}

.tarjeta:hover {
  background-color: #f8f8f8; /* Cambia el color de fondo al hacer hover */
}

.tarjeta:hover h3,
.tarjeta:hover p,
.tarjeta:hover img {
  opacity: 0; /* Oculta el contenido al hacer hover */
}

.h3, .p {
  transition: opacity 0.3s ease; /* Agrega transición de opacidad al contenido */
}

.github-icon {
  position: absolute;
  font-size: 8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #FB8500;
}

.tarjeta:hover .github-icon {
  opacity: 1; /* Muestra el icono de GitHub al hacer hover */
}

.tarjeta img {
  height: auto;
  width: 20%;
  min-width: 100px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.tarjeta h3{
  font-weight: 700;
  color: #023047;
}

.tarjeta p{
  color: black;
}