.contenedor-equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-top: 2em;
}

.contenedor-equipo .info-equipo{
    text-align: center;
    line-height: 2em;
}

.contenedor-equipo .info-equipo h1{
    margin-bottom: 1em;
}   


.seccion-equipo h4{
    font-weight: 700;
    text-align: center;
    margin: 1em 0;
    color: #023047;
}

