.Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background: rgb(30, 224, 219);
    background: -moz-linear-gradient(0deg, rgba(30, 224, 219, 1) 0%, rgba(34, 159, 195, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(30, 224, 219, 1) 0%, rgba(34, 159, 195, 1) 100%);
    background: linear-gradient(0deg, rgba(30, 224, 219, 1) 0%, rgba(34, 159, 195, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ee0db", endColorstr="#229fc3", GradientType=1);
    max-width: 900px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.333);
    gap: 0.5rem;
}


.Contenedor h1 {
    color: darkslategrey;
    font-weight: 600;
}

.ContenedorBuscador {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    flex-wrap: wrap;
    gap: 10px;
    /* Espaciado entre elementos */
    justify-content: center;
    align-items: center;
}

.ContenedorOrigen,
.ContenedorDestino,
.ContenedorFecha,
.ContenedorPasajeros {
    flex: 1;
    /* Mínimo ancho para que no se hagan demasiado pequeños */
}

.LabelOrigen,
.LabelDestino,
.LabelFecha,
.LabelPasajeros {
    display: block;
    margin-bottom: 5px;
    color: darkslategrey;
    /* Color del texto para las etiquetas, elige uno que combine con tu diseño */
    font-weight: bold;
}

.ContenedorOrigen input,
.ContenedorDestino input,
.ContenedorFecha input,
.InputPasajeros {
    width: 100%;
    padding: 10px;
    border: 2px solid #0277bd;
    /* Borde sólido con el color de la etiqueta */
    border-radius: 5px;
    /* Bordes redondeados para los inputs */
    font-size: 16px;
    height: auto;
}

#origen a,
#destino a {
    text-decoration: none;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

#origen a:hover,
#destino a:hover {
    background-color: #0277bd;
    color: white;
}

#origen -webkit::-webkit-scrollbar,
#destino -webkit::-webkit-scrollbar {
    width: 0.5em !important;
}

.BotonBuscar {
    padding: 10px 20px;
    background-color: #FB8500;
    /* Fondo azul */
    color: white;
    /* Texto blanco */
    border: none;
    border-radius: 5px;
    /* Bordes redondeados para el botón */
    cursor: pointer;
    /* Cursor tipo pointer para indicar que es clickeable */
    font-size: 18px;
    font-weight: bold;
    transition: .2s ease;
}

.ContenedorBoton{
    display: flex;
    justify-content: center;
}

.ContenedorBoton button{
    border: none;
}

.BotonBuscar:hover {
    background-color: #E16000;
    /* Color un poco más oscuro al pasar el ratón por encima */
}

/* Estilos para adaptar el formulario en pantallas pequeñas */
